body, html {
	overflow: hidden; /*Needed to eliminate scrollbars*/		
	color: white;
	font-weight:bold;
	height: 100%;
	width: 100%;
	background-color: #000000;
	text-shadow: 2px 2px 2px black;
}
header {
	padding-top: 20px;
	font-size: 42px;
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
}
footer {
	font-size: 36px;
}
#player-0, #player-1 {
	width: 30%;
}
#answers {
	position: absolute;
	height: 20%;
	top: 80%;
}
#answers td {
	border: 8px solid white;
	width: 33%;
	overflow: hidden;
	padding: 8px;
}
#info_box {
	width: 50%;
	overflow: hidden;
}
.dialog_boxes {
	text-shadow: none;
	display: none;
}
#round_info {
	clear: both;
}
#the_image {
	margin: 0;
	padding: 0;
}
#image_holder {
	width: 100%;
	height: 100%;
	position: absolute;
}
.warning {
	color: red;
}