body, html {
	overflow: hidden; /*Needed to eliminate scrollbars*/		
	color: white;
	font-weight:bold;
	height: 100%;
	width: 100%;
	background-color: #000000;
	text-shadow: 2px 2px 2px black;
}
header {
	padding-top: 20px;
	font-size: 42px;
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 2;
}


table {
	width: 100%		
}
td {
	text-align: center;
}
		

#corner {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 3;
}
#time_bar {
	position: absolute;
	top: 0;
	left: 0;
	background-color: red;
	height: 40px;
	width: 0;
	z-index:1;
}

#answers {
	font-size: 36px;
	z-index: 2;
	position: absolute;
	height: 20%;
	top: 80%;
	height: 100%;
}

#answers td {
	border: 8px solid white;
	width: 33%;
	overflow: hidden;
	padding: 8px;
}
.answer:hover {
	background-color: rgba(255,255,255,0.5);
}
/*
#info_box {
	width: 50%;
	overflow: hidden;
}
*/
.dialog_boxes {
	text-shadow: none;
	display: none;
}
#round_info {
	clear: both;
}
.warning {
	color: red;
}

	
	


	
